@import "./HererToGo.css";
@import "./Select.css";

.Select_Main {
	text-align: center;
	margin: 0 8rem;
	height: 650px;
}

.Logo_Text {
	margin-top: 150px;
	font-size: 60px;
	text-align: center;
}

.Bubble_Dark {
	position: relative;
	padding: 2rem 3rem;
	margin: 4rem 6rem 0 6rem;
	height: 75px;
	background-color: #7cde77;
	color: white;
	border-radius: 7px;
	font-size: 19px;
	font-style: italic;
	-webkit-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);

	animation: Bubble_apper 2.2s forwards;
}

.Bubble_light {
	position: relative;
	padding: 2rem;
	margin: 0 12rem;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #7cde77;
	border-radius: 7px;

	-webkit-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 4px 13px -2px rgba(0, 0, 0, 0.21);
}

.Bubble_Dark::before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-bottom-color: #7cde77;
	border-width: 30px;
	margin-left: -30px;
}

.Bubble_light::after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-top-color: #7cde77;
	border-width: 15px;
	margin-left: -15px;
}

.Logo_Img {
	display: flex;
	padding-bottom: 230px;
}

@keyframes Bubble_apper {
	from {
		bottom: 80px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

.Logo {
	max-width: 100%;
	padding-bottom: 10rem;
}
