@import "./HererToGo.css";
@import "./Select.css";

.Logo_Main, .FtG_Main, .Select_Main{
   text-align: center;
   margin: 0 14rem;
}

.Logo_Text{
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.Bubble_Dark{
    position: relative;
    padding: 2rem 6rem;
    margin: 4rem 0 2rem 0;
    background-color: #7CDE77;
	color: white;
	border-radius: 7px;

	-webkit-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);
	box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);

	animation:Bubble_apper 2.2s forwards;
}

.Bubble_light{
    position: relative;
    padding: 1rem 0;
	margin: 0 8rem;
	color: white;
	background-color: #89FF7B;
	border-radius: 7px;
	
	-webkit-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);
	box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.21);
}

.Bubble_Dark::before {
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-bottom-color: #7CDE77;
	border-width: 30px;
	margin-left: -30px;
}

.Bubble_light::after{
    top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	border-top-color: #89FF7B;
	border-width: 15px;
	margin-left: -15px;
}

.Logo_Img{
	margin: 10rem 0;
}

@keyframes Bubble_apper{
	from{
		bottom: 80px;
		opacity: 0;
	}
	to{
		bottom:0px;
		opacity: 1;
	}
}

img{
	max-width: 100%;
}