{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/Menu_Combo.css'%}">
    <title>Document</title>
</head>
    <body>
        <div class="Select_Main">
            <h1 class="Logo_Text">
                DasanRia
            </h1>
            <div class="Bubble_Dark">
                "불고기버거", "새우버거", "치킨버거", "와퍼"<br>중에서 원하시는걸<br>말씀해주세요.
            </div>
            <div class="Select_Img">
                <div class="upSide">
                    <div>
                        <img src="{% static '/Img/Combo_Bulgogi.jpg'%}">
                        <h4>불고기버거</h4>
                    </div>
                    <div> <img src="{% static '/Img/Combo_Shrimp.jpg'%}">
                        <h4>새우버거</h4>
                    </div>
                </div>
                <div class="DownSide">
                    <div>
                        <img src="{% static '/Img/Combo_Chicken.jpg'%}">
                        <h4>치킨버거</h4>
                    </div>
                    <div>
                        <img src="{% static '/Img/Combo_Wafer.jpg'%}">
                        <h4>와퍼</h4>
                    </div>
                </div>
            </div>
            <div class="Bubble_light">불고기버거</div>
            <div class="Car_img">
                <img src="{% static '/Img/cart.PNG'%}">
            </div>
        </div>
    </body>
</html>