{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/Menu_Side.css'%}">
    <title>Document</title>
</head>
    <body>
        <div class="Select_Main">
            <h1 class="Logo_Text">
                DasanRia
            </h1>
            <div class="Bubble_Dark">
                "감자튀김", "양념감자", "치킨너겟", "어니언링"<br>중에서 원하시는걸<br>말씀해주세요.
            </div>
            <div class="Select_Img">
                <div class="upSide">
                    <div>
                        <img src="{% static '/Img/Side_FrenchFry.jpg'%}">
                        <h4>감자튀김</h4>
                    </div>
                    <div> <img src="{% static '/Img/Side.jpg'%}">
                        <h4>양념감자</h4>
                    </div>
                </div>
                <div class="DownSide">
                    <div>
                        <img src="{% static '/Img/Side_Chicken.jpg'%}">
                        <h4>치킨너겟</h4>
                    </div>
                    <div>
                        <img src="{% static '/Img/Side_Onion.jpg'%}">
                        <h4>어니언링</h4>
                    </div>
                </div>
            </div>
            <div class="Bubble_light">치킨너겟</div>
            <div class="Car_img">
                <img src="{% static '/Img/cart.PNG'%}">
            </div>
        </div>
    </body>
</html>